@page "/Recipes"

<div class="d-xl-inline-block">
    <h1>Recipes</h1>
</div>
<div class="float-xl-right">
    <NavLink href="Recipes/Create" class="btn btn-primary"><span class="oi oi-plus"></span> New Recipe</NavLink>
</div>
<_RecipeList></_RecipeList>
