@page "/Recipes/My"

@attribute [Authorize]

<h1>My Recipes</h1>
<_RecipeList user="@user"></_RecipeList>

@code {
    private string user = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User.Identity.Name;
    }
}
