@page "/Recipes/Update/{Id:int}"

@attribute [Authorize]
@inject RecipeService RecipeService
@inject IConfiguration configuration

@if (canEdit || isAdmin)
{
    <_RecipeForm recipe="recipe" operation="Update"></_RecipeForm>
}
else
{
    <p>Not authorized</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool canEdit = false;

    private bool isAdmin = false;

    private Recipe recipe = new Recipe();

    protected override async Task OnInitializedAsync()
    {
        recipe = await RecipeService.GetAsync(Id);
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        string user = authState.User.Identity.Name;
        isAdmin = user == configuration["Admin"];
        canEdit = user == recipe.Owner || recipe.Readers.Where(u => u.Editor).Any(u => user == u.Email);
    }
}
